<h1>Make change!</h1>
<form action="/output">
  <div class="form-group">
    <label for="money">What amount would you like in change?</label>
    <input id="money" name="money" class="form-control" type= "number">
  </div>
  <button type="submit" class="btn-success">Make Change!</button>
</form>
